/* 风格样式设置 */

/* 字体设置 */
.w-title {
	font-size: 18px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.8);
}

.w-sub-title {
	font-size: 16px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.7);
}

.w-meta {
	font-size: 12px;
	color: #b4b4b4;
}

/* ---------主题设置----------- */
.w-primary-theme {
	background-color: #009688;
	color: #fff;
}

.w-warning-theme {
	background-color: #fb8c00;
	color: #fff;
}

.w-success-theme {
	background-color: #4caf50;
	color: #fff;
}

.w-disable-theme {
	background-color: #e0e0e0;
	color: #fff;
}

/* --------------按钮设置------------ */
	.blue-icon{
		fill: rgb(0,132,255);
	}
	.blue-btn{
		background-color: rgb(229,242,255);
		color: rgb(0,132,255);
		padding: 10px;
		height: 35px;
		line-height: 20px;
		border:none;
		border-radius: 5px;
	}
.w-btn {
	border: none;
	cursor: pointer;
	margin: 5px;
}

.w-btn-round {
	border-radius: 20px;
}

.w-btn-circle {
	border-radius: 50%;
}

.w-btn-normal {
	width: 120px;
	height: 35px;
}

.w-btn-large {
	width: 140px;
	height: 45px;
}

/* 表单元素样式 */
.w-input-box {
	display: block;
	border: 1px solid #eee;
	border-radius: 5px;
	height: 35px;
}

/* 阴影样式 */
.w-shadow {
	box-shadow: 2px 5px 10px #aaa;
}

/* 头像样式 */
.w-avatar {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.roll {
	width: 90%;
	background-image: linear-gradient(#e66465, #9198e5);
	position: relative;
	animation: rolll 30s infinite;
	padding: 20px;
	margin-top: 100px;
	border-radius: 20px;
}
.roll p {
	color: rgb(31, 31, 31);
}
@keyframes rolll {
	0% {
		transform: rotate(-7deg);
	}
	18% {
		transform: rotate(7deg);
	}
	20% {
		transform: rotate(-7deg);
	}
	80% {
		transform: rotate(7deg);
	}
	85% {
		transform: rotate(-7deg);
	}
	100% {
		transform: rotate(7deg);
	}
}
/* 颜色 */
.grey{
		color: rgb(118,131,155);
		fill: rgb(118,131,155);
	}
	


